.header {
  display: flex;
  vertical-align: middle;
}

h1 {
  flex: 1;
  padding-left: 12px;
}

.top-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.button-row {
  display: flex;
  flex-direction: row-reverse;
}
