.header {
  display: flex;
  vertical-align: middle;
  height: 70px;
}

.top-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.button-row {
  display: flex;
  flex-direction: row-reverse;
}
